@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 960x;
    margin: 0 auto;
}

.navi{
    width: 960px;
    height: 60px;
    padding-bottom: 10px;
    border-bottom : 2px solid black;
}

.navi ul{
    padding-top: 10px;
    padding-bottom: 5px;
}

.navi ul li{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 10px;
}

.navi ul li a{
    display: block;
    color: black;
}

.navi a:hover,
.navi a:focus{
    color: wheat;
    background-color: black;
}

.navi a:active{
    background-color: #f00
}

.contents{
    margin: 30px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
}

.contents h2{
    color: red;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: center;
}
/* 가상 클래스잡는법 */
.contents p:nth-of-type(3){
    background-color: #f00;
}

.contents p{
    margin-bottom: 70px;
    text-align: center;
}

#container{
    text-align: center;
    color: #222;
}

table{
    width: 200px;
    margin: 0 auto;
    border-collapse: collapse;
}

table,tr,td{
    border: 1px solid #ccc;
}

td{
    text-align: left;
    padding: 10px;
}
/* 내부에 것을 바꿔줌(제일안에거 입력시 안먹음) */
table tr:nth-of-type(2n+1){
    background-color: #ccc;
}

/* 신상품 NEW 만들기 */
.container2{
    width: 960px;
    margin: 0 auto;
}

.container2 ul li{
    margin: 15px;
}

.container2 ul li.new::after{
    content: "NEW";
    font-size: x-small;
    padding: 2px 4px;
    margin: 0 10px;
    background-color: #f55;
border-radius: 5px;
color: white;
}

.container2 ul li:nth-child(n+2):nth-child(-n+3)::before{
    content: "맛있다";
    font-size: x-small;
    padding: 2px 4px;
    margin: 0 10px;
    background-color: #f55;
border-radius: 5px;
color: white;
}
