@charset "uft-8";
.wrap{
    width: 100%;
}
.inner{
        width: 1200px;
    height: 820px;
}
header{
    line-height: 120px;
    text-align: center;
    background-color: aqua;
    width: 1200px;
    height: 120px;
}
.A1{
    
    line-height: 600px;
    text-align: center;
    background-color: rgb(69, 116, 116);
    float: left;
    width: 300px;
    height: 600px;
}
.B1{
    float: left;
    line-height: 600px;
    text-align: center;
    background-color: rgb(52, 102, 102);
    width: 900px;
    height: 600px;
}
.C1{
    clear: both;
    line-height: 100px;
    text-align: center;
    background-color: rgb(59, 110, 110);
    width: 1200px;
    height: 100px;
}